
:root {
  --bg: #212430;
  --l-bg: #3e4359;
  --text: #4f556e;
  --d-bg: #15171f;
  --main: #35b0fc;
}


@font-face {
  font-family: "CinecavMono";
  src: url("assets/fonts/cinecavDmono.ttf");
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0; 
  opacity: 0.67;  
}

.app {
  position: relative; 
  z-index: 1; 
  width: 100vw;
  height: 100vh;
  background-color: transparent; 
  color: white; 
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "CinecavMono";
  gap: 4px;
}

.title {
  background-color: black;
  padding: 4px;
  font-size: 1.5rem;
  user-select: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 4px;
  user-select: none;
}

.desc {
  background-color: black;
  padding: 2px;
  color: white;
  font-size: 1rem;
  width: fit-content;
}

.contact-button {
  background-color: black;
  border: none;
  color: #fff;
  font-family: "CinecavMono";
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: black;
  }
}

