:root {
  --bg: #1d1717;
  --c-bg: #140f0f;
  --l-bg: #2e1919;
  --border: #554444;
  --s-br: #362b2b;
  --d-s-br: #2c2323;
  --main: #f18d87;
  --d-main: #aa6561;
  --l-main: #faa8a3;
}

.tooltip {
  position: fixed;
  max-width: 320px;
  border: 1px var(--main) solid;
  background-color: var(--c-bg);
  font-family: "w95", Arial, Helvetica, sans-serif;
  color: var(--main);
  padding: 8px;
  z-index: 99;
  pointer-events: none;
}

body:has(.m-sider:hover) .tc {
  opacity: 1;
}

body {
  background-color: var(--bg);
}

.main {
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-family: "w95", sans-serif;

  gap: 2px;

  &::selection {
    background-color: var(--main); 
    color: var(--bg);
  }

  &::-moz-selection {
    background-color: var(--main); 
    color: var(--bg);
  }
}

.middle {
  background-color: var(--bg);

  max-width: 800px;
  min-width: 350px;
  max-height: 780px;
  width: 50%;
  height: 95%;

  z-index: 2;

  border-radius: 6px 6px 0 0;
  border: 2px solid var(--border);

  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 16px;
  padding: 1px;
}

.container {
  border-radius: 6px 6px 0px 0px;
  border: 2px solid var(--border);

  background-color: var(--c-bg);
}

.container-2 {
  border-radius: 0px 0px 6px 6px;
  border: 2px solid var(--border);

  background-color: var(--c-bg);
}

.container-3 {
  border-radius: 6px;
  border: 2px solid var(--border);

  background-color: var(--c-bg);
}

.container-4 {
  border: 2px solid var(--border);
  background-color: var(--c-bg);
}

.icon-row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.line-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
}

.bottom-space {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}

.line {
  height: 1px;
  margin: 0 4px 0 4px;
  flex-grow: 1;
  background-color: var(--s-br);
}

.line-2 {
  height: 1px;
  flex-grow: 1;
  background-color: var(--main);
}

.m-marq {
  color: var(--main);
  padding: 6px;

  overflow: hidden;
  white-space: nowrap;
}

.m-song-marq {
  display: inline-block;
  width: 100%;
  animation: marquee-scroll 5s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.m-marq-content {
  display: inline-block;
  width: 100%;
  animation: marquee-scroll 15s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.blurb-content {
  display: inline-block;
  width: 100%;
  animation: marquee-scroll 10s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.m-middle {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  min-width: 0;

  overflow: hidden;
  
  box-sizing: border-box;

  gap: 2px;
}

.m-sidel,
.m-sider {
  display: flex;
  flex-direction: column;

  width: 25%;

  height: 100%;
  min-width: 0;   
  overflow: hidden;

  min-height: 0;
  min-width: 0;

  box-sizing: border-box;
}

.m-mid {
  display: flex;
  flex-direction: column;

  gap: 1px;
  margin: 1px;

  width: 50%;
  height: auto;
  min-width: 0;   

  overflow-x: hidden;
  overflow-y: scroll;

  min-height: 0;
  min-width: 0;

  box-sizing: border-box;
}

.mm-location {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 1px;
  gap: 6px;
}

.mml-controls {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin: 4px;
}

.mml-control {
  all: unset;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--s-br);
  border-radius: 100%;

  width: 20px;
  height: 20px;

  color: var(--main);
  user-select: none;
  
  &:focus {
    border: 1px solid var(--main);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--main);
    color: var(--bg);
  }
}

.mml-bar {
  flex-grow: 1;

  border: 1px solid var(--s-br);
  border-radius: 12px;

  margin: 2px;
  padding: 4px 8px 4px 8px;

  color: var(--main);
}

.mm-lower {
  display: flex;
  flex-direction: column;
  margin: 0px 1px 0px 1px;
  padding: 4px;
}

.mm-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  margin: 1px;
  padding: 8px;

  color: var(--main);
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;
}

.mmh-search {
  padding: 4px;
}

.mmh-bar {
  border: 1px solid var(--s-br);
  border-radius: 8px;
  padding: 6px;
  flex-grow: 1;
}

.ml-header {
  display: flex;
  justify-content: center;

  margin: 4px;
  padding: 8px;

  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;

  & img {
    width: 40px;
    transition: 0.1s ease-in-out;
    &:hover {
      opacity: 0;
    }
  }
}

.ml-header2 {
  display: flex;
  justify-content: center;

  margin: 4px 4px 1px 4px;
  padding: 6px;

  color: var(--main);
  background-color: var(--s-br);
}

.ml-nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0 4px 1px 4px;
  padding: 6px;

  color: var(--main);
}

.nav-header {
  display: flex;
  justify-content: center;

  padding: 6px;

  color: var(--main);
  background-color: var(--s-br);
}

.nav-contents {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.nav-item {
  all: unset;
  margin: 4px 0 0 4px;
  cursor: pointer;

  &:focus {
    border: var(--main) 1px solid;
  }

  &:hover {
    color: var(--l-main);
  }

  &:active {
    color: var(--d-main);
  }
}

.mm-main {
  display: flex;
  flex-direction: column;
  color: var(--main);

  margin: 8px 8px 0 8px;
}

.mmm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: var(--main);
}

.mmm-body {
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 200px;
  overflow-y: scroll;
  color: var(--main);
}

.mmm-img {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 12px 0 24px;
  
  & img {
    width: 100px;
  }
}

.mr-balls {
  margin: 0 16px 16px 16px;
  background-color: var(--bg);
}

.mr-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 16px 0 16px;
  padding: 4px;
  color: var(--main);
  background-color: var(--s-br);
}


.m-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 8px;

  color: var(--main);
}

.mm-footer {
  display: flex;
  align-items: center;
  width: 95%;


  & img {
    height: 100px;
  }
}

.speech-bubble {
  display: flex;
  align-items: center;
  flex-grow: 1;

  height: fit-content;
  width: 200%;

  background-color: #fff;
  border-radius: 4px;

  padding: 6px;

  overflow: hidden;
  white-space: nowrap;
}

.mm-status-win {
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin: 8px 8px 0 8px;
}

.mm-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;

  & img {
    margin: 15px;
    height: 75px;
  }
}

.mm-inner-status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 15px;
}

.is-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.is-content {
  align-items: center;
  padding: 8px;
}


.row {
  display: flex;
  flex-direction: row;
}

.suffix {
  color: var(--d-main) !important;
}

.speech-start {
  position: relative;
  max-height: 35px;
  transform: translateX(70%) rotate(180deg);
  z-index: 3;
  image-rendering: pixelated;
}

.ml-palette {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 95%;
  margin: 5px;
}

.mlp-color {
  height: 100%;
  flex-grow: 1;
}

.mm-lastfm {
  display: flex;
  flex-direction: column;
  color: var(--main);

  margin: 8px 8px 0 8px;
}

.c-song-sv {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--main);
  text-align: right;

  & img {
    margin: 8px 8px 8px 12px;
    height: auto;
    width: 100px;
  }
}

.cs-desc {
  display: flex;
  flex-direction: column;
}

.cs-name {
  font-size: 1.25rem;
  margin: 0 0 8px 0;
}

.emoji {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin: 0 0.1em;
  font-size: 1.2em;
}

.emoji img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Chatbox */

.chatbox {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 1;
  min-height: 600px;
  height: 100%;
}

.c-header {
  margin: 4px 4px 0 4px;
}

.c-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  margin: 0 4px 0 4px;

  color: var(--main);
}

.c-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.c-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0 4px 4px 4px;
}

.ci-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & input[type="text"] {
    all: unset;
    color: var(--main);
    padding: 8px;
    background-color: var(--d-s-br);
    border: 1px solid var(--s-br);
    &::placeholder {
      color: var(--d-main);
    }
  }

  & textarea {
    all: unset;
    color: var(--main);
    padding: 8px;
    background-color: var(--d-s-br);
    border: 1px solid var(--s-br);
    &::placeholder {
      color: var(--d-main);
    }
  }

  & button {
    all: unset;
    display: flex;
    background-color: var(--main);
    border: 1px solid var(--main);
    padding: 2px;
    color: var(--c-bg);
    width: 25%;
    justify-content: center;
    transition: 0.3s ease-in-out;
    &:disabled {
      border: 1px solid var(--d-main);
      background-color: var(--d-main);
      &:hover {
        cursor: not-allowed;
      }
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      border: 1px solid var(--c-bg);
    }
  }
}

.cif-send {
  width: 25%;
}

.c-message {
  display: flex;
  flex-direction: column;
}

.cm-author {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--s-br);
  padding: 6px;
}

.cma-name {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cma-admin {
  margin-left: 3px;
  background-color: var(--main);
  color: var(--c-bg);
  padding: 2px;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.cma-liked {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-size: 0.7rem;
  margin: 0 6px 0 6px;
  user-select: none;
  transition: 0.3s ease-in-out;
  &:hover {
    filter: brightness(1.2);
  }
}

.like:hover {
  & span {
    opacity: 1;
  }
}

.cmal-detail {
  opacity: 0;
  transition: 0.3s ease-in-out;
  margin-left: 4px;
}


.cm-body {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: var(--d-s-br);
  color: var(--l-main);
}

.cm-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--d-s-br);
}

.cm-reply {
  all: unset;
  display: flex;
  background-color: var(--main);
  border: 1px solid var(--main);
  padding: 2px;
  color: var(--c-bg);
  &:disabled {
    border: 1px solid var(--d-main);
    background-color: var(--d-main);
    &:hover {
      cursor: not-allowed;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: 1px solid var(--c-bg);
  }
}

.reply {
  margin: 6px 6px 4px 6px;
}

.cm-treply {
  all: unset;
  display: flex;
  background-color: var(--l-main);
  border: 1px solid var(--l-main);
  padding: 2px;
  color: var(--c-bg);
  &:focus {
    border: 1px solid var(--c-bg);
  }
}

.cm-end {
  flex-grow: 1;
}

.cm-pages {
  display: flex;
  flex-direction: row;
  gap: 4px;
  max-height: 25px;
  width: 100%;
  background-color: var(--d-s-br);
  justify-content: center;
  align-items: center;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    all: unset;
    background-color: var(--main);
    border: 1px solid var(--main);
    padding: 2px;
    color: var(--c-bg);
    &:disabled {
      border: 1px solid var(--d-main);
      background-color: var(--d-main);
      &:hover {
        cursor: not-allowed;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:focus {
      border: 1px solid var(--c-bg);
    }
  }
}

.c-replying {
  display: flex;
  flex-direction: row;
  background-color: var(--main);
  color: var(--c-bg);
  justify-self: flex-end;
  padding: 4px;
  justify-content: space-between;
  & button {
    all: unset;
    background-color: var(--l-main);
    
    height: auto;
    margin: -4px;
    padding: 4px;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      border: 1px solid var(--c-bg);
    }
  }
}

.mr-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2px;
  transition: 0.3s ease-in-out;

  &:hover {
    & img {
      transition: 0.3s ease-in-out;
      filter: grayscale(1);
      &:hover {
        filter: none;
        transform: scale(1.1);
        z-index: 99;
      }
    }
  }
}

.mrb-1,
.mrb-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}



.mmb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px;
  padding: 8px;
  border-radius: 6px 6px 0px 0px;
  border: 2px solid var(--main);
  background-color: var(--main);
  color: var(--c-bg);
}

.mm-window {
  display: flex;
  flex-direction: column;
  margin: 16px;

 
}

.mma-header {
  display: flex;
  justify-content: space-between;

  padding: 8px 8px 4px 8px;
  background-color: var(--s-br);
  color: var(--main);
  clip-path: polygon(0 15%, 2% 0, 98% 0, 100% 17%, 100% 100%, 0 100%);
}

.mma-body {
  display: flex;
  flex-direction: column;
  background-color: var(--d-s-br);
  color: var(--main);

  & table {
    color: var(--main);
    margin: 8px 0 8px 0;
    width: 100%;
    & tbody {
      & tr {
        & td {
          padding: 8px;
        }
        & td:nth-child(1) {
          border-left: 1px solid var(--main);
          background-color: var(--border);
        }
        & td:nth-child(2) {
          background-color: var(--bg);
        }
      }
    }
  }
}

.mma-pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  & img {
    height: 100px;
    border: 2px solid var(--main);
  }
}

.mma-about {
  display: flex;
  flex-direction: row;
}

.mma-about-me {
  padding: 8px;
  background-color: var(--c-bg);
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-word;
}

.mma-albums {
  display: flex;
  border: 1px solid var(--border);
  margin: 8px;

  & legend {
    color: var(--main);
    margin: 2px;
  }
}



.album-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  perspective: 800px;
  width: 100%;
  margin-left: -5px;


  &:hover { 
    img:not(:hover) {
      filter: blur(1px) saturate(0%) brightness(50%) invert(11%) sepia(42%) saturate(397%) hue-rotate(199deg) brightness(97%) contrast(98%);
    }
  }

  & img {
    width: 75px;
    height: 75px;
    transform: rotateY(60deg);
    transform-origin: 50% 100%;
    transition: transform 0.2s ease-in-out;
    margin-left: -45px;
    &:first-child {
      margin-left: -10px;
    }

    &:hover {
      
      transform: translateY(-25px) rotateY(40deg) rotateZ(-10deg) translateX(-15px);
      z-index: 10;
    }
  }
}

.t-artist {
  background-color: var(--main);
  color: var(--c-bg);
}

a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: var(--l-main);
}

.na {
  all: unset,
}

a:not(:has(img))[target='_blank']::after {
  font-family: "Material Icons";
  content: 'open_in_new';
  vertical-align: bottom;
}



* {
  scrollbar-width: auto;
  
  scrollbar-color: var(--main) var(--bg);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 0px !important;
  border: 3px solid #ffffff;
}


@keyframes marquee-scroll {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

@font-face {
  font-family: "Material Icons";
  src: url(assets/fonts/MaterialIcons-Regular.ttf);
}


@font-face {
  font-family: "w95";
  src: url(assets/fonts/w95fa.woff);
}

@font-face {
  font-family: "barcode";
  src: url(assets/fonts/BarcodeFont.ttf);
}

@media only screen and (max-width: 1550px) {
  .mr-buttons {
    justify-content: center;
    flex-direction: column;
  }

  .mrb-1,
  .mrb-2 {
    margin: none;
  }

  .album-row img { 
    height: 60px; 
    width: 60px; 
    margin-left: -35px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    height: auto;
    overflow-y: scroll;
    justify-content: center;
  }

  .mr-buttons {
    flex-direction: row;
  }
  
  .middle {
    height: 100%;
    max-height: none;
    overflow-y: scroll;
  }

  .m-middle {
    flex-direction: column;
  }

  .m-sidel,
  .m-sider,
  .m-mid {
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }
  
}